@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  color : black;
}

@font-face {
	font-family: "Akuru";
	src: url("/fonts/akuru.ttf");
}

@font-face {
	font-family: "Rasmee";
	src: url("/fonts/AK Rasmee.ttf");
}

@font-face {
	font-family: "Huseynu";
	src: url("/fonts/MageyHuseynu-Regular.otf");
}

.akuru {
  font-family: "Haluvidhaa";
}

/* body {
  background: #FBFBFB;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.apexcharts-tooltip {
  background: #f3f3f3;
  color: orange;
}

